<div class="background" [style.background-color]="chosenColor"></div>

<div class="container">
  <form [formGroup]="colorForm" class="form z-depth-3 my-5 mx-auto" novalidate>
    <div class="row align-items-center">
      <div class="col-sm mb-2">
        <input type="text" class="form-control z-depth-1 mr-sm-2" formControlName="name" placeholder="Color">
        <div class="error-feedback" *ngIf="colorForm.controls.name.invalid && colorForm.controls.name.dirty">
          Please enter a color name or color hex value.
        </div>
      </div>
      <div class="col-sm mb-2">
        <input type="text" class="form-control z-depth-1 mr-sm-2" formControlName="description" placeholder="Description">
        <div class="error-feedback" *ngIf="colorForm.controls.description.invalid && colorForm.controls.description.dirty">
          Please enter the description for the color.
        </div>
      </div>
      <div class="col-sm mb-2">
        <input type="text" class="form-control z-depth-1 mr-sm-2" formControlName="iconClass" placeholder="Icon">
      </div>
      <div class="col-sm-2 text-center text-sm-right">
        <button type="button" (click)="addColor()" class="btn btn-link float-sm-right">
          <i class="ion-ios-plus-outline"></i>
        </button>
      </div>
    </div>
    <div class="row align-items-center" *ngIf="genericMessage">
      <div class="col-sm text-primary">
        {{ genericMessage }}
      </div>
    </div>
  </form>

  <ul class="list-group mx-auto z-depth-3">
    <li class="list-group-item" *ngFor="let color of colorsData">
      <div class="row">
        <div class="col-sm-3 align-self-center text-center text-sm-left">
          {{color.name}}
        </div>
        <div class="col-sm-5 align-self-center text-center text-sm-left">
          {{color.description}}
        </div>
        <div class="col-sm-2 align-self-center text-center color-icon">
          <i [class]=color.iconClass></i>
        </div>
        <div class="col-sm-2 align-self-center text-center text-sm-right">
          <button type="button" (click)="removeColor(color.id)" class="btn btn-link float-sm-right">
            <i class="ion-ios-minus-outline"></i>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>