form {
    max-width: 800px;
    padding: 20px 30px;
    background: #fff;
}

.error-feedback,
.valid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.valid-feedback {
    color: blue;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
    background-color: #000;
    opacity: 0.5;
    z-index: -2;
}

button.btn-link {
    color: #262626;
    font-size: 30px;
    padding: 0;
}

.color-icon {
    font-size: 26px;
}

ul.list-group {
    max-width: 800px;
    margin-bottom: 100px;
    font-weight: 500;
    font-size: 20px;
    .list-group-item {
        padding-left: 30px;
        padding-right: 30px;
    }
    .list-group-item:first-child,
    .list-group-item:last-child {
        border-radius: 0;
    }
}