.navbar-brand {
    font-size: 36px;
    img{
        width: 40px;
        margin-bottom: 10px;
    }
}

.navbar {
    .nav-item {
        padding: 0 20px;
    }
    .nav-link {
        filter: contrast(70%);
        cursor: pointer;
        color: #000;
    }
    .dropdown {
        .dropdown-toggle {
            padding: 0;
            padding-left: 0.5rem;
        }
        .ion-ios-gear-outline {
            color: #000;
            font-weight: bold;
            font-size: 26px;
        }
        .dropdown-toggle::after {
            display: none;
        }
    }
    .dropdown-menu {
        top: 0%;
        min-width: 5rem;
        background-color: #ccc;
        .dropdown-header,
        .dropdown-item {
            font-weight: 500;
            font-size: 15px;
            &:active,
            &:hover {
                background-color: #ccc;
            }
        }
        .dropdown-header {
            opacity: 0.6;
            font-size: 15px;
            font-weight: 500;
        }
    }
    @media (min-width: 992px) {
        .dropdown {
            margin-right: 50px;
        }
    }
}