<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="">
      <img src="./assets/spaceship.png" class="img-fluid"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto text-center">
        <li class="nav-item" *ngFor="let color of colorsData">
          <a class="nav-link" [style.color]="chosenColor" (click)="changeColor(color.name)">{{color.name}}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">
            <i [style.color]="chosenColor" class="ion-ios-gear-outline"></i>
          </a>
          <div class="dropdown-menu text-center z-depth-1">
            <div class="dropdown-header">Settings</div>
            <a class="dropdown-item" routerLink="/manage-colors">Manage</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>