/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
$ionicons-font-path: "~ionicons/fonts";
@import "~ionicons/scss/ionicons";

/*
body {
    height: 100%;
    background: linear-gradient(180deg, #919191 550px, #f8f9fa 50%);
}
*/

body {
    background: #f8f9fa;
}

.z-depth-1,
.z-depth-3 {
    border-radius: 0 !important;
    border: 0 !important;
}

.z-depth-1 {
    box-shadow: 0 2px 2px 0 rgba(127, 127, 127, 0.14), 0 1px 5px 0 rgba(127, 127, 127, 0.12), 0 3px 1px -2px rgba(127, 127, 127, 0.2) !important;
}

.z-depth-3 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.form-control::placeholder {
    font-style: italic;
    color: #ccc;
}

.form-control:-ms-input-placeholder {
    font-style: italic;
    color: #ccc;
}

.form-control::-ms-input-placeholder {
    font-style: italic;
    color: #ccc;
}