<div class="background" [style.background-color]="chosenColor"></div>
<div class="container">
  <div class="colors-intro text-center">
    <div class="title">I
      <i class="ion-heart"></i> Color</div>
    <div class="description mt-5"> Color really isn't that difficult to get right, if you know where to start.
      <br> Learn by doing and you'll be a master in no time.
    </div>
    <button type="button" [style.background-color]="chosenColor" class="btn btn-secondary mt-5 action-button">
      Over to you
    </button>
  </div>

  <div class="cards-container mx-auto">
    <div class="row justify-content-center">
      <div class="col-md-4" *ngFor="let color of colorsData">
        <div class="card z-depth-1 mx-auto mb-4">
          <div class="card-body text-center">
            <div class="card-icon">
              <i class="align-middle {{color.iconClass}}"></i>
            </div>
            <div class="card-name">{{ color.name }}</div>
            <div class="card-description mt-3">{{ color.description }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>