.cards-container {
    max-width: 900px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
    background-color: #000;
    opacity: 0.5;
    z-index: -2;
}

.colors-intro {
    margin: 70px 0 60px 0;
    color: #fff;
    i {
        padding: 0 10px;
    }
    .title {
        font-size: 40px;
        font-weight: 300;
    }
    .action-button {
        filter: contrast(80%);
        border: 0;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 20px;
        width: 180px;
        &:focus {
            box-shadow: none;
        }
    }
}

.cards-container {
    margin-bottom: 100px;
}

.card {
    height: 100%;
    max-width: 350px;
    .card-icon {
        font-size: 50px;
        min-height: 100px;
    }
    .card-name {
        font-weight: 500;
        font-size: 18px;
    }
}